*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.grid{
    display: grid;
    border: 1px solid red;
    grid-column-gap: 5px; 
    grid-row-gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    div{
        margin: 5px;
        padding: 20px;
    }
}
    .grid div:nth-child(even){
        background-color: blue;
    }
    .grid div:nth-child(odd){
        background-color: purple;
    }

